.env
certs/*
certs/*/*
!certs/.gitkeep
certs/truststore/
!certs/truststore/.gitkeep
.ansible
!databases/export/.gitkeep
databases/export/*tar.gz
databases/*tar.gz
.agents
skills-lock.json
.idea
keycloak-providers
**/target
**/dist
**/node
Dockerfile
config/privacyidea/keys/encfile
config/mariadb/conf.d/*.cnf
!config/mariadb/conf.d/.gitkeep
khalibre-account-ui/node_modules
themes/khalibre/email/theme.properties
