.sidebar {
  border-right: 1px solid var(--border-sidebar);
  background-color: var(--edc-card);
}

.nav {
  :global(.pf-v5-c-nav__list),
  :global(.pf-v5-c-nav__subnav) {
    padding: 0;
  }

  :global(.pf-v5-c-nav__link) {
    color: var(--text-black);
    background-color: transparent;
    font-weight: 400;

    &:hover {
      color: var(--edc-navy);
      background-color: var(--edc-bg-hover);
      border-left-color: transparent;
    }

    &::before {
      border: none;
    }

    &:global(.pf-m-current) {
      color: var(--edc-navy);
      font-weight: 600;

      &::after {
        border-color: var(--edc-navy);
        border-inline-start-width: 4px;
      }
    }
  }

  :global(.pf-v5-c-nav__link.pf-m-expandable) {
    font-weight: 500;
  }

  :global(.pf-v5-c-nav__item.pf-m-expandable)::before {
    border: none;
  }

  :global(.pf-v5-c-nav__toggle) {
    color: var(--text-black);
  }

  :global(.pf-v5-c-nav__subnav) {
    :global(.pf-v5-c-nav__link) {
      padding-left: 2rem;
    }
  }

  :global(.pf-v5-c-nav__item.pf-m-current:not(.pf-m-expanded)) {
    :global(.pf-v5-c-nav__link) {
      color: var(--edc-navy);
      font-weight: 600;
      background-color: var(--edc-bg-hover);

      &::after {
        border-color: var(--edc-navy);
        border-inline-start-width: 4px;
      }
    }
  }
}